# Binaries and build artifacts
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Environment and local configs
.env
*.local

# Node & Frontend dependencies
node_modules/
dist/
.vite/

# IDE and OS files
.idea/
.vscode/
*.swp
*~
.DS_Store
Thumbs.db

# Logs
*.log
